    <a href="/event/<%= eventId %>"><%= title %></a>
    <span>
      <a class="glyphicon glyphicon-edit" href="/event/update/<%= eventId %>"></a>
      <a class="glyphicon glyphicon-bin remove-link" href="/event/destroy/<%= eventId %>"></a>
    </span>
